/*
部品化された
規則は、「.em-」ではじめる
*/

@layer components {

    .em-link{
        @apply text-main hover:underline cursor-pointer;
    }
    //ボード表示用
    .em-board{
        @apply bg-white shadow-md;
        .em-board-head{
            @apply border-t-2 border-b border-b-slate-200 text-lg font-bold text-main-dark px-2.5 py-1.5 border-t-main relative;
        }
        .em-board-content{
            @apply p-3.75  relative;//overflow-auto
        }
    }

    //検索一覧フィルタリング用の大枠
    .em-filter{
        @apply flex bg-white shadow p-1.25 divide-x divide-dashed divide-slate-300 mb-2.5;
        .em-filter-box{
            @apply p-1.25 space-y-1.25;
            .em-filter-box-item{
                @apply flex;
                dt{
                    @apply text-right font-bold leading-7 pr-1.25;
                }
                dd{
                }

            }
        }
    }

    //チェックボックスを一覧横並びの小さなアイコン
    input[type="checkbox"],input[type="radio"],input[type="file"]{
        @apply hidden;
    }
    input[type="checkbox"] + label,
    input[type="radio"] + label{
        @apply inline-block cursor-pointer rounded-sm border border-slate-350 px-1.25 py-1.25;
    }
    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label{
        @apply bg-slate-400 text-white;
    }
    input[type="file"] + label{
        @apply inline-block cursor-pointer border border-dashed rounded-sm bg-slate-100 border-slate-350 px-2 py-1.25 text-slate-500;
    }


    /* form部品 */
    //input.em-input[type="text"],
    //select.em-input,
    //textarea.em-input{
    //    @apply text-base;
    //}

    /* inputのsmall版 */
    input.em-input-small[type="text"],
    input.em-input-small[type="password"],
    input.em-input-small[type="date"],
    input.em-input-small[type="number"],
    select.em-input-small,
    textarea.em-input-small{
        @apply text-sm;
    }

    .em-btn{
        @apply rounded-sm px-2 py-1 text-white text-center bg-slate-400 hover:opacity-80;
    }

    .em-input-box{
        .em-input-head{
            @apply mb-1 font-bold whitespace-nowrap;
        }
    }

    .em-input-check-show + label:before{
        content:"\f0c8";
        font-family: "Font Awesome 6 Free";
        @apply mr-0.75;
    }
    .em-input-check-show:checked + label:before{
        content:"\f14a";
        font-family: "Font Awesome 6 Free";
        @apply mr-0.75;

    }



    //input:textにカレンダーのアイコンを実装する spanでinputを包んであげる
    //.em-input-small-icon-calendar{
    //    @apply relative inline-block;
    //}
    //.em-input-small-icon-calendar::before{
    //    @apply absolute top-1 text-sm text-slate-400 right-1.5 font-awesome;
    //    content: '\f073';
    //}

    .em-error{
        @apply text-red font-bold text-[10px] leading-tight mt-0.75;
    }


    /* 一覧 */
    .em-list{
        @apply overflow-y-hidden overflow-x-auto;
        table{
            @apply overflow-y-hidden overflow-x-scroll bg-white border-b border-slate-300;

            tbody{
                @apply block;
                tr{
                    @apply flex -mb-0.25;
                    &:not(:first-child){
                        @apply hover:bg-green-50;
                    }
                    th{
                        @apply bg-slate-150;
                        .fa-sort,.fa-sort-up,.fa-sort-down{
                            @apply absolute top-2 right-1.25;
                        }
                        .fa-sort{
                            @apply text-slate-350;
                        }
                        .fa-sort-up,.fa-sort-down{
                            @apply text-orange;
                        }
                        &.em-sort-column{
                            @apply cursor-pointer hover:bg-orange-100
                        }
                    }
                    th,td{
                        @apply relative flex items-center border border-slate-300 -mr-0.25 py-1.25 px-1.75;
                        border-right-style:dashed;
                        border-left-style:dashed;
                        &:first-child{border-left-style:solid;}
                        &:last-child{border-right-style:solid;}
                    }
                }
            }
        }
    }


    /* ページネーション */
    .em-pagination{
        display: flex;
        li{
            a,span{
                @apply flex items-center justify-center border bg-white text-slate-600 border-slate-350 px-1.5 h-7.5;
            }
            &.prev,&.next,&.number{
                a{
                    &:hover{
                        @apply text-white bg-slate-350;
                    }
                }
            }
            &.current{
                span{
                    @apply bg-slate-500 text-white;
                }
            }
            &.dots{
                span{
                    @apply border-t-0 border-b-0 bg-transparent px-0.25 pt-0.25;
                }
            }

            &.prev,&.next{@apply text-center;}
            &.prev{@apply w-20;}
            &.next{@apply w-30;}
            &:not(:last-child){@apply -mr-0.25;}
        }
    }


    .em-fixed-buttons{
        @apply fixed flex items-center right-1.25 top-1.25 space-x-2 z-50;
        li{
            &.em-fixed-buttons-btn{
                button,a{
                    @apply block rounded-sm bg-slate-400 text-center text-white p-2.5 w-30 hover:opacity-80;
                }
            }
            &.em-fixed-buttons-text{
                a{
                    @apply text-main hover:underline;
                }
            }
        }
    }


    .tool-tip {
        position: relative;
        cursor:pointer;
    }

    .tool-tip:before {
        content: attr(tooltip-data);
        opacity: 0;
        visibility: hidden;
        position: absolute;
        white-space: nowrap;
        background-color: #999;
        color: #fff;
        text-align: center;
        padding: 2px 5px;
        border-radius: 2px;
        z-index: 1;
        top: -25px;
        font-size: 10px;
    }



    .tool-tip:hover:before {
        opacity: 1;
        visibility: visible;
    }
}
