/*
.em-*
 部品化しているもの

.pn-*
 そのページでしか使っていない固有のスタイル
 body[page-name="***"]の配下で使用

.r-{乱数}
 スタイル名が決まっていないものは乱数
 後から検索しやすいようr-とする。
 .pn-r-*の場合もある
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

//node_module内のフォントファイルを参照させる。デフォルトは../webfontsなのでresoursesが参照される
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

//fontawesomeのcss
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';

@import '_reset';
@import '_parts';

::-webkit-scrollbar {
    border-radius: 5px;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ccc;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #eee;
}
::selection {
    background: #f29c4b;
    color: #fff;
    text-shadow: none;
}

@layer components {
    body {
        @apply text-black bg-background;
        #main{
            @apply ml-45 pl-3.75;
            h1{
                @apply pt-2.5 text-main-dark font-bold text-xl mb-3.75;
            }
            .em-container{
                @apply inline-block max-w-[calc(100%-15px)] pb-25 text-xs;
            }
        }
    }


    #navi{
        .logo{
            @apply m-auto border-b border-slate-200 w-40 mb-3.75 py-2.5;
        }


        >.menu-list{
            @apply overflow-y-auto;
            height:calc(100% - 116px);

            .box{
                @apply border-b border-slate-200 bg-main bg-slate-200;
                h3{
                    @apply block;
                    a{
                        @apply relative block flex items-center bg-white py-2.5 pl-2.5;
                        span{
                            @apply inline-block w-6 text-center text-main mr-0.5;
                        }
                        i{
                            &.fa-angle-right{
                                @apply absolute right-2 text-slate-350 ;
                            }
                        }
                        &:hover{
                            @apply bg-slate-100;
                        }
                    }
                    &.active{
                        a{
                            @apply font-bold bg-slate-200;
                            .fa-angle-right::before {
                                content: "\f107";
                            }
                        }
                        &+ul{
                            @apply block h-auto;

                        }
                    }
                    &+ul{
                        @apply hidden h-0;

                    }
                }
                ul{
                    @apply ml-2 bg-white;

                    li{
                        &.child-active{
                            a{
                                @apply font-bold bg-orange/10;
                            }
                        }
                        a{
                            @apply block pl-2 py-1.5;
                            i.fa-caret-right{
                                @apply text-main mr-1.25;
                            }
                            &:hover{
                                @apply bg-slate-100;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* end breeze */
#test-flg-88{
    z-index: 99;
    position: fixed;
    width:150px;
    left: 0;
    bottom: 0;
    padding:10px 0;
    background: #dd3333;
    color:#fff;
    font-size: 1.2em;
    text-align: center;
    animation: test-flash 1.5s linear infinite;
}

@keyframes test-flash {
    0%,100% {
        opacity: .7;
    }
    50% {
        opacity: .3;
    }
}
